@import 'variables';
@import '~@angular/material/core/theming/all-theme';
@include mat-core();
$primary: mat-palette($mat-deep-purple);
$accent: mat-palette($mat-amber, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
.m2app-dark {
  $dark-primary: mat-palette($mat-pink, 700, 500, 900);
  $dark-accent: mat-palette($mat-blue-grey, A200, A100, A400);
  $dark-warn: mat-palette($mat-deep-orange);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

nav {
  top: 0;
  z-index: 1500;
  width: 100%;
  height: 50px;
  font-family: "Proxima Nova";
  position: fixed;
  transition: background .5s;
  transform: translateZ(0px);
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  a {
    background-color: $nav-button-color;
    color: $font-color;
    padding: 8px 16px;
    margin: 8px;
    vertical-align: middle;
    line-height: 1.25;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
  }
}
