.search-box-content {
  .separator {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #f00;
  }
  .search-box-detail {
    display: block;
    width: 100%;
    height: 50px;
    .search-menu {
      float: left;
      width: 70%;
      border-left: 2px solid rgba(191, 191, 191, 0.45);
      height: 97%;
      margin-left: 15px;
      padding-left: 15px;
      md-input-container.mat-input-container {
        width: 100%;
        .mat-input-wrapper {
          margin: 20px 10px 0;
          padding: 0;
        }
      }
    }
    .logo-menu {
      float: left;
      height: 100%;
      width: 15%;
      img.logo {
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }
    .browse-menu {
      float: left;
      display: block;
      height: 100%;
      width: 15%;
    }
  }
}
