<div class="search-box-content">
  <div class="separator"></div>

  <md-toolbar>
    <div class="search-box-detail">
      <div class="logo-menu">
        <img class="logo" src="../../assets/img/angularclass-logo.png" ng-href="#" />
      </div>
      <div class="search-menu">
        <md-input-container>
          <input type="search" mdInput placeholder="Search" value="">
        </md-input-container>
      </div>
    </div>

    <!--<md-toolbar-row>
      
    </md-toolbar-row>-->
  </md-toolbar>
</div>