<search-box></search-box>

<nav>
  <a [routerLink]=" ['./'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Index</a>
  <a [routerLink]=" ['./home'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
  <a [routerLink]=" ['./search'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Search</a>
  <a [routerLink]=" ['./detail'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Detail</a>
  <a [routerLink]=" ['./barrel'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Barrel</a>
</nav>

<main class="main-page">
  <router-outlet></router-outlet>
</main>

<footer>
  Footer...
</footer>