/*html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

a.active {
  background-color: gray;
}*/


/*.main-page:before {
  content: " ";
  display: table;
}

.main-page::after {
  clear: both;
}*/
