<div class="card-content">
  <div class="card-image">
    <div class="provider">
      <img src="#" alt="alt-provider-name" />
    </div>
    <img src="#" alt="alt-image-name" />
  </div>
  <div class="card-info">
    <span class="name">Video name</span>
    <span class="rating">99%</span>
    <span class="duration">12:00</span>
  </div>
</div>