<div class="main-search">
  <div class="content">
    <div class="videos">
      <div class="cards">
        <video-card *ngFor="let item of [1, 2, 3, 4, 5]; let i = index;" [name]=item></video-card>
        <button (click)='getVideos()' md-button>Flat button</button>
        <!--<button (click)="getVideos()">Click</button>-->
      </div>
    </div>
  </div>
</div>