@import "../../styles/variables";
.main-search {
  background-color: $background-color;
  .content {
    background-color: #1d1d1d;
    margin-top: 50px;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: all .5s;
    position: relative;
    z-index: 1;
    .videos {
      margin-right: auto;
      margin-left: auto;
      padding-left: 10px;
      padding-right: 10px;
      .cards {
        position: relative;
        margin-left: -10px;
        margin-right: -10px;
      }
    }
    .videos:before {
      content: " ";
      display: table;
    }
    .videos:after {
      clear: both;
    }
  }
}

.main-search:before {
  content: " ";
  display: table;
}

.main-search:after {
  clear: both;
}
